.banner{

}
.topbar{
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center!;
}
.wrap-main{
  float: left;
}
.topbar .wrap-main a{
  display: inline-block;
  text-align: center;
  padding:8px 6px 9px;
  position: relative;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.social-topbar {
  float: right;
  margin-bottom: 0;
  padding: 8px 0 9px;
  text-decoration: none;
  list-style: none;
}
.social-topbar a{
  padding-left: 20px;
}
.social-topbar ul{
  display: inline-block;
  padding: 8px 0 9px;
}
.botbar{
  height: 60px;
  color: white;
  background-color: #0071b7;
  align-items: center !important;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.botbar .ct-header{
  height: 25px;
  float: left;
}
.botbar a{
  color: white;
}
.botbar .ct-header span{
  font-size: 12px;
  margin: 0;
}

